@media screen and (max-width: 576px) {
  .navbar,
  .nav-right ul {
    flex-direction: column;
  }
  .nav-right ul {
    justify-content: center;
    align-items: center;
  }
  /* banner starts */
  .banner {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .banner .banner-content,
  .banner-content .banner-image {
    width: 100%;
    text-align: center;
  }
  /* collection stars */
  .collection .collection-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* for tablet */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .nav-left .nav-title {
    font-size: 16px;
  }
  .nav-right ul li a {
    font-size: 10px;
  }
  /* collection starts */
  .collection .collection-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
