@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Poppins", sans-serif; */
/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 80%;
  max-width: 1000px;
  border: 2px solid red;
  margin: 0 auto;
}
.disflex {
  display: flex;
}
section {
  margin-top: 75px;
}
/* navbar syles */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.navbar .nav-left {
}
.nav-left .nav-title {
  color: #3a3a3a;
  font-size: 19px;
  font-weight: 700;
}
.navbar .nav-right {
}
.nav-right ul {
}
.nav-right ul li {
  list-style: none;
  /* padding-left: 15px;  */
  margin-left: 20px;
}
.nav-right ul li a {
  color: #3a3a3a;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
/* banner section styles */
.banner {
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  gap: 100px;
}
.banner .banner-content {
  width: 60%;
}
.banner-content .banner-title {
  color: #3a3a3a;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px; /* 134.615% */
  margin-bottom: 10px;
}
.banner-content .banner-desc {
  color: #3a3a3a;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 20px;
}
.banner .banner-btn {
}
.banner-btn .primary-btn {
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 41px;
  background: #e02c6d;
  border: none;
  color: #fff;
}
.banner-btn span {
}
.banner .banner-image {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;

  width: 40%;
}
.banner-image img {
  width: 100%;
}
/* main section styles */
/* ecommerce styles */
.ecommerce {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.ecommerce > div {
  flex-basis: 100px;
}
/* collection styles */
.collection .collection-heading {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 600;
  line-height: 50px; /* 250% */
  text-align: center;
}
.collection .collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.collection-container .collection-item {
  margin-top: 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  padding: 10px;
}
.collection-item img {
  width: 100%;
}
.collection-item .collection-title {
  color: var(--Text-Gray-900, #18191f);
  font-size: 23px;
  line-height: 40px; /* 142.857% */
  font-weight: 500;
}
.collection-item .collection-price {
  color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
  font-size: 19px;
  font-weight: 400; /* 36px */
  line-height: 130%;
  font-family: "Inter";
}
.collection-item .rating {
}
.rating span {
  color: var(--Orange-60, #fb8200);
  font-size: 12px;
}
.rating .special {
  color: var(--gray-80, #5e6366);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px; /* 157.143% */
  letter-spacing: 0.1px;
}
.collection-item .collection-desc {
  width: fit-content;
  color: var(--Gray-50, #787885);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
  line-height: 126%; /* 20.02px */
  letter-spacing: 0.252px;
}
.collection .collection-btn {
  margin-top: 30px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.collection-btn .btn {
  color: rgba(224, 44, 109, 0.87);
  font-size: 13px;
  font-weight: 700;
  border: none;
  display: flex;
  gap: 10px;
}
/* feature styles */
.feature {
  justify-content: space-between;
  align-items: center;
}
.feature .feature-image {
  width: 37%;
}
.feature-image img {
  width: 100%;
}
.feature .feature-content {
  width: 55%;
}
.feature-content .feature-title {
  color: #0a0826;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px; /* 157.895% */
}
.feature-content .feature-desc {
  margin-top: 10px;
  color: #6c6c6c;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 175% */
}
.feature-content .feature-btn {
  margin-top: 16px;
}
.feature-btn .feature-btn-product {
  background: #e02c6d;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  border: 0;
  border-radius: 3px;
}
